{% extends "base.html" %}
{% block container %}
<br><br>
<div class="page-header">
    <h1>Fale Conosco</h1>
    <div class="row">
        <div class="span6">
            {% if sucess %}
                <div class="alert alert-success">Mensagem enviada com sucesso!
                <button type="button" class="close" data-dismiss="alert">×</button>
                </div>
            {% else %}
            <form action="" method="post" class="well">
            {% csrf_token %}
            {% for field in form %}

                <div class="control-group{% if field.errors %} error{% endif %}">
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.errors %}
                        <span class="help-block">
                            {{ field.errors|join:", " }}
                        </span>
                    {% endif %}
                </div>
            {% endfor %}
                <div class="control-group">
                    <button type="submit" class="btn">Enviar</button>
                </div>
            </form>
            {% endif %}
        </div>
        <div class="span6">
            E-mail: <a href="#">fredsilva.sistemas@gmail.com</a>
            <p>
                Django Events, projeto criado no curso de Django do PyCursos
            </p>
        </div>
    </div>
</div>
{% endblock %}